// Page : Homepage

#listFurnitures a {
  text-decoration: none;
  color: black;
}
.listFurnitures__title {
  text-align: center;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  background: linear-gradient(
    rgba(212, 128, 60),
    rgba(191, 117, 119),
    rgba(148, 94, 239)
  );
}
.furniture--container {
  margin: 2rem 1rem;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem black;
  &:hover {
    background-color: rgba(148, 94, 239);
  }
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 234px;
    object-fit: cover;
  }
  .furniture--element {
    padding: 0 1rem;
    text-align: center;
    &:hover {
      color: white;
    }
    .furniture--name,
    .furniture--price {
      margin-bottom: 0.5rem;
    }
    a {
      font-style: italic;
    }
  }
}

//===============================================

// Page : Products

#details {
  margin: 2rem 1rem;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem black;
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 234px;
    object-fit: cover;
  }
  .details__section {
    padding: 1rem;
    &--consulting {
      font-size: 17px;
    }
  }
  .cart {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 10px;
    &:hover {
      background: linear-gradient(
        rgba(212, 128, 60),
        rgba(191, 117, 119),
        rgba(148, 94, 239)
      );
      color: white;
    }
  }
}
#details__section--name {
  font-size: 21px;
}
#details__section--description {
  margin: 1rem 0;
  font-size: 17px;
}
#details__section--price {
  margin: 1rem 0;
  font-size: 17px;
}

//===============================================

// Page : Cart
#cart-resume{
    margin: 1rem 1rem;
    text-align: center;
    font-size: 25px;
    h3{
        text-align: center;
    }
    .cart{
        text-align: center;
    }
    .formText{
      font-size: 18px;
      font-weight: unset;
    }
}
#productCart{
    width: auto;
    .produit{
        text-align: center;
        border: 1px solid grey;
        border-radius: 10px;
        margin: 1rem 0;
        img{
            width: 100%;
            height: 234px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
        h2{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
        button{
            margin: 5px 0;
        }
    }  
}
#total{
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: bold;
}
.form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  form{
    text-align: center;
    fieldset{
      margin: 1rem 0;
      .allForm{
        margin: 7px 0;
        
      }
    }
    input{
      margin: 1rem 0;
      }
  }
  p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
  }
}

//===============================================

// Page : Confirm

.order{
  text-align: center;
  &--title{
    margin: 2rem 0;
  }
  .fa-check{
    border: 1px solid black;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(
        rgba(212, 128, 60),
        rgba(191, 117, 119),
        rgba(148, 94, 239)
      );
    font-size: 20px;
    animation: check 1s infinite;
  }
  &--info{
    .number, .price, .delivery, .name{
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .orderId, .address, .mail, .identity{
      border: 1px solid black;
      width: 50%;
      margin-bottom: 2rem;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    .price{
      margin-bottom: 2rem;
    }
    .info{
      margin-bottom: 1rem;
    }
  }
}