.header{
    text-align: center;
    &__redirection{
        img{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    &__border{
        border: 1px solid black;
    }
    &__paying{
        margin: 1rem 0;
        .fa-shopping-cart{
        font-size: 20px;
        }
        &--text{
            font-size: 20px;
            margin-left: 10px;
            }
        }
    a{
        text-decoration: none;
        color: black;
    }       
}


// MEDIA QUERIES

// TABLET

@media screen and (min-width: $width-tablet){
.header{
    &__redirection{
        img{
            width: 80%;
            }
        }
    }
}


// DESK 

@media screen and (min-width: $width-desk){
.header{
    &__redirection{
        img{
            width: 40%;
            }
        }
    &__paying{
        .fa-shopping-cart{
        font-size: 20px;
        }
        &--text{
            font-size: 20px;
            margin-left: 10px;
            }
        }
    }
}