// MEDIA QUERIES

//===============================================

// TABLET
@media screen and (min-width: $width-tablet) {
  //Homepage
  #listFurnitures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    h1 {
      width: 100%;
    }
    .furniture--container {
      width: 35%;
    }
  }
  //Products pages
  #details {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    h3 {
      text-align: center;
    }
  }
//Cart page
  #productCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .produit{
      width: 45%;
    }
  }
}
//===============================================

// LAPTOP
@media screen and (min-width: $width-laptop) {
  //Products pages
  #details {
    width: 95%;
    height: 325px;
    display: flex;
    img {
      height: 325px;
      border-radius: 10px;
      width: 50%;
    }
    .cart {
      margin-top: 0;
    }
  }
}

//===============================================

// DESK
@media screen and (min-width: $width-desk) {
  //Homepage
  #listFurnitures {
    .furniture--container {
      width: 25%;
    }
  }
  // Products pages
  #details {
    width: 80%;
    display: flex;
    height: 400px;
    align-items: center;
    margin-bottom: 12rem;
    img {
      height: 400px;
      width: 50%;
    }
    .cart {
      margin-top: 6rem;
    }
  }
  // Cart page
  #productCart{
    .produit{
      width: 35%;
    }
  }
}
