body, p, a, h1, h2{
    margin: 0;
    padding: 0;
}

// Important colors

$color-border-card: rgba(212, 128, 60);

// Media Queries 

$width-tablet: 426px; 
$width-laptop: 769px;
$width-desk: 1025px;